body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0A1128;
    font-size: 1.2em;
}

h1 {
    display: block;
    margin-top:1%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h2 {
    display: block;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*master page*/
.logo {
    width:15%;
    margin-right:2%;
}

.navContent {
    float: right;
}

#footer {
    clear: both;
    background-color: #92BFD4;
    text-align: center;
}

/*login page*/
#loginControls {
    display: block;
    margin:5% auto 20% auto;
    width: 50%;
}

.login {
    display: block;
    margin-right: auto;
    margin-bottom:10%;
    margin-left: auto;
    width: 60%;
}

.logout {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 25%;
}

/*home*/
#content{
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#singleColumnControls {
    width: 100%;
    display: none;
    margin:auto;
}

.columns {
    margin: 1% 1% 10% 1%;
    width: 46%;
    float: left;
}

.imageWithCaption {
    width: 100%;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin: 1.5%;
    border: solid;
    border-width: 1px;
    border-color: #0A1128;
}

.caption {
    display: block;
}

.imageWithCaption:hover .image {
    opacity: 0.3;
    transition: .3s ease;
}


/*articles*/
#article {
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.mainImage {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
}

#youtube {
    display: block;
    margin-top: 1%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 16 / 9;
    width: 100%;
}

#articleInfo {
    text-align:left;
}

.views{
    display:block;
}

.date {
    display: block;
}

#articleText {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
}

/*about*/
.socialMediaLinks {
    display: block;
    margin-top: 1%;
    margin-bottom: 25%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.socialMedia {
    display: inline;
    float: left;
    margin:auto 12% auto 12%;
}

.socialMedia:hover {
    opacity: 0.3;
    transition: .3s ease;
}

/*For carousel*/
/* universal */
* {
    box-sizing: border-box
}

/*slide image container*/
.mySlides {
    display: none;
}

/*image allignemnt*/
.slideImage {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 50%;
    position: relative;
    margin: auto auto 2% auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2%;
    margin-top: -2%;
    color: #92BFD4;
    font-weight: bold;
    font-size: 1.2em;
    transition: 0.6s ease;
    border-radius: 0 1% 1% 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 1% 0 0 1%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: #7E7F9A;
}

/* Caption text */
.textCaption {
    color: #0A1128;
    font-size: 1.2em;
    margin-top: 1%;
    width: 100%;
    position: absolute;
    text-align: center;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 2% 1% 2% 0;
    background-color: #92BFD4;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #0A1128;
}

/* Fading animation */
.mySlides:hover .slideImage {
    opacity: 0.3;
    transition: .3s ease;
}


/*responsive*/
@media screen and (max-width: 990px) and (min-width: 251px) {
    .logo {
        width: 150px;
    }

    body {
        font-size: 0.8em;
    }

    .slideshow-container, .mainImage {
        max-width: 80%;
    }

    .dot {
        height: 10px;
        width: 10px;
    }

    #article{
        width:500px;
    }

    #content {
        width: 80%;
    }

    .columns {
        width:100%;
    }

    #singleColumnControls {
        display: block;
    }
}

@media screen and (max-width:600px) and (min-width: 251px) {
    .logout {
        width: 100px;
    }

    #article {
        width: 80%;
    }
}

@media screen and (max-width: 250px) {
    .logo {
        width: 50px;
    }

    body {
        font-size: 0.5em;
    }

    .slideshow-container, .mainImage {
        max-width: 200px;
    }

    .dot {
        height: 5px;
        width: 5px;
    }

    .logout {
        width: 90px;
    }

    #article {
        width: 200px;
    }

    #content {
        width: 200px;
    }

    .columns {
        width: 200px;
    }

    #singleColumnControls {
        display: block;
    }

}
