body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0A1128;
    font-size: 1.2em;
}

h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.logo {
    width:15%;
    margin-right:2%;
}

.navContent {
    float: right;
}

#footer {
    clear: both;
    background-color: #92BFD4;
    text-align: center;
}

.login {
    display: block;
    margin-top: 5%;
    margin-right: auto;
    margin-bottom: 20%;
    margin-left: auto;
    width: 60%;
}

.mainImage {
    max-width: 50%;
    position: relative;
    margin: auto auto 2% auto;
}

.title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size:large;
}

.columns {
    margin: auto;
    width: 100%;
    padding: 1%;
}
/*For carousel*/
/* universal */
* {
    box-sizing: border-box
}

/*slide image container*/
.mySlides {
    display: none;
}

/*image allignemnt*/
.slideImage {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 50%;
    position: relative;
    margin: auto auto 2% auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2%;
    margin-top: -2%;
    color: #92BFD4;
    font-weight: bold;
    font-size: 1.2em;
    transition: 0.6s ease;
    border-radius: 0 1% 1% 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 1% 0 0 1%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: #7E7F9A;
}

/* Caption text */
.textCaption {
    color: #0A1128;
    font-size: 1.2em;
    margin-top: 1%;
    width: 100%;
    position: absolute;
    text-align: center;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 2% 1% 2% 0;
    background-color: #92BFD4;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #0A1128;
}

/* Fading animation */
.mySlides:hover .slideImage {
    opacity: 0.3;
    transition: .3s ease;
}


/*responsive*/
@media screen and (max-width: 950px) and (min-width: 251px) {
    .logo {
        width: 150px;
    }

    body {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 950px) and (min-width: 251px) {
    .slideshow-container, .mainImage {
        max-width: 80%;
    }

    .dot {
        height: 10px;
        width: 10px;
    }
}

@media screen and (max-width: 250px) {
    .logo {
        width: 50px;
    }

    body {
        font-size: 0.5em;
    }

    .slideshow-container, .mainImage {
        max-width: 200px;
    }

    .dot {
        height: 5px;
        width: 5px;
    }
}
